<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" routerLink="/">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLink="/play">Play</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLink="/words">Words</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLink="/templates">Templates</a></li>

      <!--  EXAMPLE DROPDOWN -->
      <!--<li class="navbar-item">-->
        <!--<a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>-->
        <!--<div id="moreNavPopover" class="popover">-->
          <!--<ul class="popover-list">-->
            <!--<li class="popover-item">-->
              <!--<a class="popover-link" href="#">Link 1</a>-->
            <!--</li>-->
            <!--<li class="popover-item">-->
              <!--<a class="popover-link" href="#">Link 2</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </div>
</nav>
