$base: #0FA0CE;
$black: #354144;
$gray0: #f8f9f9;
$gray1: #ebedee;
$gray2: #dce1e2;
$gray3: #cdd4d5;
$gray4: #bcc5c7;
$gray5: #a9b4b8;
$gray6: #94a2a6;
$gray7: #7a8c91;
$gray8: #5b6f75;
$gray9: #354144;
$cyan0: #e4f4f9;
$cyan1: #c6e8f3;
$cyan2: #a4dbec;
$cyan3: #7dcce4;
$cyan4: #4db9da;
$cyan5: #0fa1ce;
$cyan6: #0d91ba;
$cyan7: #0b7fa3;
$cyan8: #096986;
$cyan9: #074b60;
$blue0: #e8edfa;
$blue1: #ced9f5;
$blue2: #b1c1ef;
$blue3: #8ea6e7;
$blue4: #6081de;
$blue5: #0f42ce;
$blue6: #0d3bb9;
$blue7: #0b33a1;
$blue8: #092a83;
$blue9: #061d5b;
$indigo0: #eeeafa;
$indigo1: #dbd3f6;
$indigo2: #c5b8f0;
$indigo3: #ab98ea;
$indigo4: #876ce1;
$indigo5: #3c0fce;
$indigo6: #360db9;
$indigo7: #2f0ba1;
$indigo8: #260984;
$indigo9: #1a065c;
$violet0: #f6e9fa;
$violet1: #ecd1f5;
$violet2: #e0b6f0;
$violet3: #d294e9;
$violet4: #c067e0;
$violet5: #9b0fce;
$violet6: #8b0db9;
$violet7: #7a0ba2;
$violet8: #640986;
$violet9: #47065f;
$fuschia0: #faeaf6;
$fuschia1: #f5d2ed;
$fuschia2: #f0b7e2;
$fuschia3: #e995d5;
$fuschia4: #e069c4;
$fuschia5: #ce0fa1;
$fuschia6: #ba0d91;
$fuschia7: #a30b7f;
$fuschia8: #870969;
$fuschia9: #60074b;
$pink0: #faeaee;
$pink1: #f5d2dc;
$pink2: #f0b7c6;
$pink3: #e996ad;
$pink4: #e06a8a;
$pink5: #ce0f42;
$pink6: #ba0d3b;
$pink7: #a30b34;
$pink8: #87092b;
$pink9: #60071e;
$red0: #faebe7;
$red1: #f4d6cd;
$red2: #eebdae;
$red3: #e7a08a;
$red4: #dd7a5c;
$red5: #ce3c0f;
$red6: #b9360d;
$red7: #a22f0b;
$red8: #862709;
$red9: #5f1b06;
$orange0: #f8f2e1;
$orange1: #f2e5c0;
$orange2: #ebd69d;
$orange3: #e2c574;
$orange4: #d9b246;
$orange5: #ce9b0f;
$orange6: #ba8c0d;
$orange7: #a37a0b;
$orange8: #876509;
$orange9: #604807;
$yellow0: #f2f8df;
$yellow1: #e5f1be;
$yellow2: #d7ea99;
$yellow3: #c7e271;
$yellow4: #b5d843;
$yellow5: #a1ce0f;
$yellow6: #91ba0d;
$yellow7: #7fa30b;
$yellow8: #6a8709;
$yellow9: #4c6207;
$lime0: #e9f9e3;
$lime1: #d1f3c4;
$lime2: #b6eca2;
$lime3: #97e47b;
$lime4: #71da4b;
$lime5: #42ce0f;
$lime6: #3bba0d;
$lime7: #34a30b;
$lime8: #2b8709;
$lime9: #1f6207;
$green0: #e4f9e9;
$green1: #c8f3d2;
$green2: #a7edb7;
$green3: #80e598;
$green4: #50db71;
$green5: #0fce3c;
$green6: #0dba36;
$green7: #0ba32f;
$green8: #098827;
$green9: #07621c;
$teal0: #e4f9f3;
$teal1: #c6f3e7;
$teal2: #a4ecd9;
$teal3: #7de4c9;
$teal4: #4ddab5;
$teal5: #0fce9b;
$teal6: #0dba8c;
$teal7: #0ba37b;
$teal8: #098866;
$teal9: #076249