<section class="header">
  <h2 class="title">Madlib API - by Order of the Stacky Castle</h2>
  <a class="button button-primary" href="https://github.com/Order-of-the-Stacky-Castle/osc-mean1" onclick="_gaq.push(['_trackEvent', 'skeleton', 'download'])" target="_blank">on GitHub</a>
  <div class="value-props row">
  <div class="four columns value-prop">
  <img class="value-img" src="../../assets/images/feather.svg">
  A madlib generator for the rest of us.
  </div>
  <div class="four columns value-prop">
  <img class="value-img" src="../../assets/images/pens.svg">
  Mobile friendly and clear frontend.
  </div>
  <div class="four columns value-prop">
  <img class="value-img" src="../../assets/images/watch.svg">
  Robust and open API backend.
  </div>
  </div>
</section>
