$lightblue: #0FA0CE;
$lighterblue: lighten(#0FA0CE, 20%);
$purps: #9b0fce;

th {
  color: $lighterblue;
}

button {
  color: $lighterblue;
  border-color: $lightblue;
  transition: background ease-in-out .2s;

  &:hover {
    background: $purps;
    color: $lighterblue;
    transition: background ease-in-out .2s;
  }
}