<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/all">all</a></li>
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/nouns">Noun</a></li>
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/verbs">Verb</a></li>
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/adverbs">Adverbs</a></li>
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/adjectives">Adjectives</a></li>
    </ul>
  </div>
</nav>

<a routerLink="/words/new"><button>Create New Word</button></a>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Word</th>
      <th>Plural</th>
      <th>Profane</th>
      <th>Stats</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let word of wordsList">
    <!-- <tr> -->
      <td>{{ word.word }}</td>
      <td>{{ word.plural }}</td>
      <td>{{ word.profane }}</td>
      <td><button>stats</button></td>
    </tr>
  </tbody>
</table>