<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <!-- <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/all">all</a></li>
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/nouns">Noun</a></li>
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/verbs">Verb</a></li>
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/adverbs">Adverbs</a></li>
      <li routerLinkActive="active-link" class="navbar-item"><a class="navbar-link" routerLink="/words/adjectives">Adjectives</a></li> -->
      <li class="navbar-item" (click)="getAll()"><a class="navbar-link">all</a></li>
      <li class="navbar-item" (click)="getNouns()"><a class="navbar-link">Noun</a></li>
      <li class="navbar-item" (click)="getVerbs()"><a class="navbar-link">Verb</a></li>
      <li class="navbar-item" (click)="getAdverbs()"><a class="navbar-link">Adverbs</a></li>
      <li class="navbar-item" (click)="getAdjectives()"><a class="navbar-link">Adjectives</a></li>
    </ul>
  </div>
</nav>

<!-- <a routerLink="/words/new"><button>Create New Word</button></a> -->
<button (click)="showForm()">new word</button>
<form #w="ngForm" *ngIf="formVisible" (ngSubmit)="create(w)">
  <input type="text" ngModel placeholder="Word" name="word" id="name">
  <select ngModel name="type" id="type">
    <option *ngFor="let type of types" [value]="type">{{type}}</option>
  </select>
  <button type="submit">submit</button>
</form>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Word</th>
      <th>Details</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let word of wordsList">
      <td>{{ word.word }}</td>
      <td><button>details</button></td>
      <td><button (click)="deleteWord(word)">delete</button></td>
    </tr>
  </tbody>
</table>