.template {
  border: 1px solid #eee;
  padding: 0.5rem;
  margin-top: 1rem;
}

.template-title {
  //  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: hsl(0, 0%, 35%);
}

.template-story {
  //  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-style: italic;
  color: hsl(0, 0%, 50%);
}
